@import "data/languages.json";
@import "data/countries.json";

$languages-repository-version: '1.11.0';

.wg-flag, .wg-country-flag {
  width: 22px;
  height: 16px;
  display: inline-block !important;
  vertical-align: middle;
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(#b0b3b8, #b0b3b8);

  @each $language in $languages {
    &.wg-flag-#{map-get($language, code)} {
      background-image: url("https://cdn.jsdelivr.net/gh/weglot/languages@#{$languages-repository-version}/images/#{map-get($language, flag_path)}");
    }
  }

  @each $country in $countries {
    &.wg-country-flag-#{map-get($country, code)} {
      background-image: url("https://cdn.jsdelivr.net/gh/weglot/languages@#{$languages-repository-version}/images/#{map-get($country, flag_path)}");
    }
  }

  &-square {
    @extend .wg-flag;
    @extend .wg-country-flag;

    width: 16px;

    @each $language in $languages {
      &.wg-flag-#{map-get($language, code)} {
        background-image: url("https://cdn.jsdelivr.net/gh/weglot/languages@#{$languages-repository-version}/images/#{map-get($language, flag_path)}");
      }
      &.wg-flag-#{map-get($language, code)} {
        background-image: url("https://cdn.jsdelivr.net/gh/weglot/languages@#{$languages-repository-version}/images/#{map-get($language, square_flag_path)}");
      }
    }

    @each $country in $countries {
      &.wg-country-flag-#{map-get($country, code)} {
        background-image: url("https://cdn.jsdelivr.net/gh/weglot/languages@#{$languages-repository-version}/images/#{map-get($country, flag_path)}");
      }
      &.wg-country-flag-#{map-get($country, code)} {
        background-image: url("https://cdn.jsdelivr.net/gh/weglot/languages@#{$languages-repository-version}/images/#{map-get($country, square_flag_path)}");
      }
    }
  }
}

.wg-flag-merge, .wg-country-flag-merge {
  position: relative;
}

.wg-flag-merge .wg-flag, .wg-country-flag-merge .wg-country-flag {
  position: absolute;
  left: 0;
}

.wg-flag-merge .wg-flag:last-child, .wg-country-flag-merge .wg-country-flag:last-child {
  -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}