@import "data/languages.json";
@import "data/countries.json";

.wg-flag {
  width: 22px;
  height: 16px;
  display: inline-block !important;
  vertical-align: middle;
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(#b0b3b8, #b0b3b8);

  @each $language in $languages {
    &.wg-flag-#{map-get($language, code)} {
      background-image: url("https://cdn.jsdelivr.net/gh/weglot/languages@master/images/4x3/#{map-get($language, code)}.svg");
    }
  }

  @each $country in $countries {
    &.wg-flag-country-#{map-get($country, country_code)} {
      background-image: url("https://cdn.jsdelivr.net/gh/weglot/languages@master/images/4x3/#{map-get($country, country_flag_code)}.svg");
    }
  }

  &.wg-flag-small {
      width: 17px;
      height: 12px;
  }

  &-square {
    @extend .wg-flag;

    width: 16px;

    @each $language in $languages {
      &.wg-flag-#{map-get($language, code)} {
        background-image: url("https://cdn.jsdelivr.net/gh/weglot/languages@master/images/1x1/#{map-get($language, code)}.svg");
      }
    }

    @each $language in $countries {
      &.wg-flag-country-#{map-get($language, country_code)} {
        background-image: url("https://cdn.jsdelivr.net/gh/weglot/languages@master/images/1x1/#{map-get($language, country_flag_code)}.svg");
      }
    }
  }
}

.wg-flag-merge {
  position: relative;
}

.wg-flag-merge .wg-flag {
  position: absolute;
  left: 0;
}

.wg-flag-merge .wg-flag:last-child {
  -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}
